<div class="flex bg-zinc-100/75 rounded-3xl p-3.5 pb-2.5 gap-4">
  <a routerLink="/" class="flex flex-col items-center group">
    <div
      class="w-12 h-12 p-1 rounded-xl bg-gradient-to-b from-sky-300 to-sky-500 transition-all group-hover:scale-110"
    >
      <img width="40" height="40" src="assets/icons/home.svg" alt="Home icon" />
    </div>
    <span class="text-xs text-zinc-600 font-semibold">Home</span>
  </a>

  <a routerLink="/flight" class="flex flex-col items-center group">
    <div
      class="w-12 h-12 p-1 rounded-xl bg-gradient-to-b from-emerald-300 to-emerald-500 transition-all group-hover:scale-110"
    >
      <img
        width="40"
        height="40"
        src="assets/icons/globe.svg"
        alt="Globe icon"
      />
    </div>
    <span class="text-xs text-zinc-600 font-semibold">Rutas</span>
  </a>

  <a routerLink="/settings" class="flex flex-col items-center group">
    <div
      class="w-12 h-12 p-1 rounded-xl bg-gradient-to-b from-amber-300 to-amber-500 transition-all group-hover:scale-110"
    >
      <img width="40" height="40" src="assets/icons/cog.svg" alt="Cog icon" />
    </div>
    <span class="text-xs text-zinc-600 font-semibold">Config.</span>
  </a>
</div>
